<ion-view title="About Us" hide-back-button="true">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <a class="button" href="#/app/login">
      <i class="icon ion-gear-b"></i>
    </a>
  </ion-nav-buttons>

  <ion-content class="has-header" ng-init="bonus_click=0">
    <div class="page-wrapper">
      <h2 style="font-size:2em;font-family:open sans;font-weight:700">KUAS AP: A KUAS Adminstration System for Mobile</h2>


      <div ng-if="main.bonus_click < 5">
        <img src="img/kuasap.png" style="width:80%;height:auto" ng-click="main.bonus_click = main.bonus_click + 1"></img>
      </div>
      <div ng-if="main.bonus_click == 5">
        <img src="img/nobody_but_you.png" style="width: 80%;"></img>
        <blockquote style="width:90%;margin-left:20px;">
          <i class="fa fa-quote-left fa-2x pull-left"></i>
          「不要問為何沒有人做這個，先承認你就是『沒有人』」。
          因為，「沒有人」是萬能的。
        </blockquote>
      </div>
    </div>
    <div class="author">
      <span>Rebuild By</span>
      <p>呂紹榕(Louie Lu), 姜尚德(JohnThunder)</p>
      <p style="margin-top:-10px">registerAutumn, 詹濬鍵(Evans)</p>
    </div>
    <div class="contact">
      <span>Contact Us</span>
      <div>
        <a ng-click="facebook()">
          <i class="fa fa-facebook-square fa-3x"></i>
        </a>
        <a ng-click="github()">
          <i class="fa fa-github-square fa-3x"></i>
        </a>
        <a href="mailto:1102108133@kuas.edu.tw">
          <i class="fa fa-envelope-square fa-3x"></i>
        </a>
      </div>
    </div>

  </ion-content>

</ion-view>
